<footer>
	<div class="well well-sm disclaimer">
		<span>NOTE: </span>
		<marquee>
			This website is for demonstration purpose only. User's discretion is expected :)
		</marquee>
	</div>
	<div class="container">
		<em class="pull-right"><strong>>> Designed by Md Shadman</strong></em>
	</div>
</footer>
	</body>
</html>