<%- include("partials/header") %>

<div class="container">
	<h1 class="display-4">About MedsNearMe</h1>
	<hr>
	<p>
		Created with an aim to make medicines and medical shops easily accessible to everyone, everywhere.
	</p>
	<p>
		Anyone can add a medical shop or a comment by signing in.
	</p>
	<p>
		A normal user can edit and delete his own shop and comment whereas an admin can edit & delete that of anyone. To become an admin, get the admin code.<br>
	</p>
	<p>
		Moreover, admins get a blue tick <i class="blue fas fa-check-circle"></i> on their profile! <i class="orange fas fa-grin-stars"></i>
	</p>
	<p>
		To get the admin code, contact developer.<br>
		<a href="tel:+919932701405"><i class="fab fa-whatsapp"> +919932701405</i> </a><br>
		<a href="mailto:mdshadmanin99@gmail.com"><i class="far fa-envelope"> mdshadmanin99@gmail.com</i></a>
	</p>
	<div class="gap"></div>
	<h1 class="text-center"><a href="https://github.com/shadmanmd/meds-near-me"><i class="fab fa-github"></i></a></h1>
	<div class="gap"></div>
</div>

<%- include("partials/footer") %>