<%- include("partials/header") %>

<div class="container">
	<legend>
		<h1>
			Login
		</h1>
	</legend>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="username">Enter Username</label>
					<input class="form-control" type="text" name="username" placeholder="username" autofocus required>
				</div>
				<div class="form-group">
					<label for="password">Enter Password</label>
					<input class="form-control" type="password" name="password" placeholder="password" autofocus required>
				</div>
				<div class="form-group">
					<a href="/forgot"><em>Forgot Password?</em></a>
				</div>
				<div class="form-group" style="width:20%; margin:20px auto;">
					<input class="mycentre btn btn-primary" type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>
</div>

<%- include("partials/footer") %>