<%- include("partials/header") %>

<div class="container">
	<div class="row">
		<legend>
			<h1>
				Register Yourself
			</h1>
		</legend>
		<div class="col-md-12">
			<form action="/register" method="POST">
				<div class="form-group">
					<label for="email">Your Email ID</label>
					<input class="form-control" type="email" name="email" placeholder="email ID" required autofocus>
				</div>
				<div class="form-group">
					<label for="email">Your Username</label>
					<input class="form-control" type="text" name="username" placeholder="username" required autofocus>
				</div>
				<div class="form-group">
					<label for="email">Set a Password</label>
					<input class="form-control" type="password" name="password" placeholder="password" required autofocus>
				</div>
				<div class="form-group">
					<label for="email">Want to become an admin?</label>
					<input class="form-control" type="text" name="adminCode" placeholder="admin code" autofocus>
				</div>
				<div class="form-group">
					<a href="#" onclick="secret()"><em>What's the Admin Code?</em></a>	
				</div>
				<div class="form-group" style="width:25%; margin:20px auto;">
					<button class="btn btn-lg btn-default btn-block btn-primary">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <h1>
	SignUp
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		Sign Up
	</button>
</form> -->

<%- include("partials/footer") %>