<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<legend>
			<h1>Add a new Medical Shop</h1>
		</legend>
		<div class="col-md-12">
			<form action="/shops" method="POST">
				<div class="form-group">
					<label for="name">Shop's Name</label>
					<input class="form-control" type="text" name="name" placeholder="Enter the name" required>
				</div>
				<div class="form-group">
					<label for="image">Shop's Image</label>
					<input class="form-control" type="text" name="image" placeholder="image url" required>
				</div>
				<div class="form-group">
					<label for="contact">Shop's Contact No.</label>
					<input class="form-control" type="number" name="contact" placeholder="contact no." required>
				</div>
				<div class="form-group">
					<label for="address">Shop's Address</label>
					<input class="form-control" type="text" name="address" placeholder="address" required>
				</div>
				<div class="form-group" style="width:20%; margin:20px auto;">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href="/shops">Go Back</a>	
		</div>
	</div>
</div>

<%- include("../partials/footer") %>